body {
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.container {
    padding: 20px;
    background: white;
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
    padding-bottom: 150px;
    padding-top: 150px;

}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: clamp(2rem, 6vw, 3rem);
    margin-top: 0.5rem;
    margin-bottom: 20px;
}

button {
    border: none;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
    padding: 10px 0;
    color: white;
    font-weight: bold;
    width: 140px;
    margin-bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

#increment-btn {
    background: pink;
}

#save-btn {
    background: lightblue;
}
